@font-face {
  font-family: "Regular";   /*Can be any text*/
  src: local("Helvetica"),
    url("./font/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "bold";   /*Can be any text*/
  src: local("Helvetica-Bold"),
    url("./font/Helvetica-Bold.ttf") format("truetype");
}